.elementoCentrado {
    display: flex;
    justify-content: center;
}

.cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.itemEnCarrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.fieldsetContainer{
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
}

.carritoElement {
    margin-left: 1rem;
}

.total {
    display: flex;
    flex-direction: column;
}

.cartGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr 2fr;
    gap: 10px;
    grid-template-areas: 
    "cantidad imagen nombre precio remover";
}

.vaciar{
    margin-top: 3em;
}

.cantidad {
    grid-area: cantidad;
}
.imagen {
    grid-area: imagen;
}
.nombre {
    grid-area: nombre;
}
.precio {
    grid-area: precio;
}
.remover {
    grid-area: remover;
}

.removerButton {
    display: flex;
    justify-content: flex-end;
}

form {
    width: 40vw;
    padding: 1em;
    padding-top: 3em;
    margin: 1rem 0;
}
fieldset {
    padding: 1rem;
    padding-top: .1rem;
}
input {
    padding: .2rem;
    width: 100%;
    border: none;
    margin-bottom: 0.8em;
    border-radius: 10px;
}
label{
    margin-top: 0.5em;
}
legend{
    text-align: center;
}
.button {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #fff;
        background-color: #030c58;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;   
        height: 50px;
        margin-top: 1.5em;
}

.button:hover{
    background-color: #010522;
    box-shadow: 0px 10px 15px rgba(46, 46, 229, 0.4);
    color: #fff;
    transform: translateY(-4px);
}

.empty{
    margin-top: 200px;
}

@media (max-width: 720px) {
    .cartGrid {
        display: flex;
        flex-direction: column;
    }

    form {
        width: 90vw;
        padding: 1em;
        padding-top: 3em;
        margin: 1rem 0;
    }
}