.navbar-container{
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: black;
}

li{
    margin: 1.4em;
}




   
   
   
   
   

